body {
    padding: 10px;
}

:root {
    --light-purple: hsl(270, 60%, 60%);
    --dark-purple: hsl(270, 80%, 20%);
}

/* Nav Bar */
.nav-h1 {
    color: var(--dark-purple);
    margin-left: 20px;
}

.nav-auth {
    color: var(--dark-purple);
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.nav-div {
    background-color: #f8f8f8;
    position: relative;
}

.nav-container {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item {
    margin-left: 10px; 
}

.nav-link {
    text-decoration: none;
    color: var(--light-purple);
}
.nav-link:hover {
    text-decoration: underline;
    color: var(--dark-purple);
}

/* End Nav */
